/* Mega Menu Fixes */
#mega-menu-wrap-max_mega_menu_1 #mega-menu-max_mega_menu_1 {
  display: flex;
  justify-content: space-evenly;
}

/* Notification Bar */

/* .wpfront-message > p {
  font-size: 14px;
}

@media (min-width: 890px) {
  .wpfront-message > p {
    font-size: 24px;
  }
} */

.notif {
  /* display: none; */
  margin-top: -100px;
  overflow: hidden;
  transition: margin-top 0.7s ease-in-out;

  width: 100%;
  background-color: #1ba817;
  color: #fff;
  font-size: 24px;
  font-family: "Lexend Deca", Helvetica, Arial, Lucida, sans-serif;
  text-align: center;
  height: 100px;
  font-size: 14px;
}

@media (min-width: 890px) {
  .notif {
    font-size: 24px;
  }
}

.notif > .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.slide-down {
  margin-top: 0 !important;
}

.item1 {
  background: rgb(8, 212, 22);
  background: linear-gradient(
    180deg,
    rgba(8, 212, 22, 1) 0%,
    rgba(26, 93, 108, 1) 72%,
    rgba(26, 93, 108, 1) 100%
  );
}

.item2 {
  background: rgb(29, 157, 216);
}

.item2 strong {
  color: #fff;
}

/* Utility Buttons */
.index-btn {
  font-size: 16px;
  padding: 16px 25px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #7eadb5;
  background: #ffffff;
  margin-bottom: 4px !important;
}

.rates-btn {
  font-size: 16px;
  padding: 16px 25px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: #1a5d6c;
}

.rates-btn:hover {
  background-color: #298ca2;
}

.inner-btn {
  background-color: #1a5d6c;
  padding: 0.5em 1em;
  font-size: 1.25rem;
  color: #fff;
  border-radius: 3px;
}

.inner-btn:hover {
  background-color: #298ca2;
}

.rates-btn > a {
  color: #fff !important;
}

/* Widget Fix */
.widget_nav_menu .index-btn {
  background-color: #38b04c !important;
}

.widget_nav_menu .index-btn:hover {
  background-color: #43d55b !important;
}

.widget_nav_menu .index-btn > a {
  color: #fff !important;
}

/* Inner CTA */
.et_pb_image_0 {
  background-color: #38b04c !important;
}

.et_pb_cta_0.et_pb_promo {
  background-color: #38b04c !important;
}

.et_pb_image_1 {
  background-color: #38b04c !important;
}

.et_pb_cta_1.et_pb_promo {
  background-color: #38b04c !important;
}

/* Accordion */
.sp-easy-accordion h3 {
  padding-bottom: 0 !important;
}

.sp-easy-accordion .ea-header a {
  color: #fff !important;
}

/* Checkmark Rows */
.checkmark-row {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.checkmark-row > img {
  margin-right: 2em;
}

.checkmark-row > p {
  color: #000 !important;
  font-weight: 500 !important;
  font-family: "Lexend Deca", Helvetica, Arial, Lucida, sans-serif;
  font-size: 1rem;
  padding-right: 1rem;
}

@media (min-width: 50em) {
  .checkmark-row > p {
    padding-right: 0;
    font-size: 1.25rem;
  }
}

.insurance-table a {
  font-weight: 500 !important;
  font-family: "Lexend Deca", Helvetica, Arial, Lucida, sans-serif;
  font-size: 1rem;
  color: #7eadb5 !important;
}

@media (min-width: 50em) {
  .insurance-table a {
    font-size: 1.25rem;
  }
}

/* Rates Table */
.excelRateTable {
  color: #000;
}

.excelRateTable thead {
  background-color: #1a5d6c;
}
.excelRateTable thead th {
  color: #fff !important;
}

#post-1042
  > div
  > div
  > div
  > div.et_pb_section.et_pb_section_1.et_section_regular
  > div
  > div.et_pb_column.et_pb_column_2_3.et_pb_column_2.et_pb_css_mix_blend_mode_passthrough.et-last-child
  > div.et_pb_with_border.et_pb_module.et_pb_text.et_pb_text_1.et_pb_text_align_left.et_pb_bg_layout_light
  > div
  > h2 {
  font-size: 20px !important;
}

#post-1042
  > div
  > div
  > div
  > div.et_pb_section.et_pb_section_1.et_section_regular
  > div
  > div.et_pb_column.et_pb_column_2_3.et_pb_column_2.et_pb_css_mix_blend_mode_passthrough.et-last-child
  > div.et_pb_with_border.et_pb_module.et_pb_text.et_pb_text_1.et_pb_text_align_left.et_pb_bg_layout_light {
  border: 2px solid #38b04c;
}

#post-1042
  > div
  > div
  > div
  > div.et_pb_section.et_pb_section_1.et_section_regular
  > div
  > div.et_pb_column.et_pb_column_2_3.et_pb_column_2.et_pb_css_mix_blend_mode_passthrough.et-last-child
  > div.et_pb_button_module_wrapper.et_pb_button_0_wrapper.et_pb_button_alignment_center.et_pb_module
  > a {
  border: 2px solid #38b04c;
}

/* Online Banking Login */

.mobile-form-inline .btn {
  background-color: #38b04c;
  padding: 0.6em;
  border: none;
  color: #fff;
}

.login-area {
  font-family: "Lexend Deca", Helvetica, Arial, Lucida, sans-serif;
  font-size: 1rem;
}

.form-inline-tablet {
  font-family: "Lexend Deca", Helvetica, Arial, Lucida, sans-serif;
  font-size: 1rem;
  color: #fff;
}

.form-inline-tablet .btn {
  background-color: #38b04c;
  padding: 0.6em;
  border: none;
  color: #fff;
}

/* */
