.container {
    --max-width: 1110px;
    --container-padding: 1rem;
  
    width: min(var(--max-width), 100% - (var(--container-padding) * 2));
    margin-inline: auto;
  }

  .flex {
    display: flex;
    gap: var(--gap, 1rem);
  }

  .text-center {
    text-align: center;
  }