.et_pb_cta_0 {
    background-color: #40A629 !important;
  }
  
  .et_pb_promo_button {
    background-color: #40A629 !important;
  }
  
  .et_pb_promo_button:hover {
    background-color:rgb(74, 198, 46) !important;
    color: #fff;
  }
  
  .et_pb_image_0{
      background-color: #40A629 !important;
  }
  
  /* .et_pb_image_0>span{
      max-width: 128px !important;
  } */
  
  
  /* mobile */
  .et_pb_image_1 {
      background-color: #40A629 !important;
  }
  /* .et_pb_image_1>span {
      max-width: 128px !important;
  } */
  
  .et_pb_cta_1 {
      background-color: #40A629 !important;
  }

  .et_pb_image_2{
    background-color: #40A629 !important;
  }