$clr-primary-300: hsl(189, 27%, 60%);
$clr-primary-400: hsl(191, 61%, 26%);

$clr-accent-400: hsl(130, 52%, 45%);

$clr-neutral-100: #fff;
// $clr-neutral-400: #A1A1A5;
$clr-neutral-700: #2b2b2b;

$clr-neutral-900: hsl(0, 0%, 0%);