<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/GBD_Theme/dist/main.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="flex" style="justify-content: center">
      <div class="bgc-accent-400" style="display: inline-flex">
        <a
          class=""
          style="
            text-transform: uppercase;
            font-size: 20px;
            color: white;
            padding: 1rem 1.5rem;
            font-weight: 700;
          "
          href="https://excelfcu.balancepro.org/"
          >click here to explore</a
        >
      </div>
    </div>
  </body>
</html>
