/* Notification Bar */
  
  /* .wpfront-message > p {
    font-size: 14px;
  }
  
  @media (min-width: 890px) {
    .wpfront-message > p {
      font-size: 24px;
    }
  } */
  

  .notif-wrapper{
    padding: 2rem 0;
  }

  .notif {
    /* display: none; */
    /* margin-top: -100px; */
    overflow: hidden;
    transition: margin-top 0.7s ease-in-out;
  
    width: 100%;
    background-color: #1ba817;
    color: #fff;
    font-size: 24px;
    font-family: "Lexend Deca", Helvetica, Arial, Lucida, sans-serif;
    text-align: center;

    font-size: 16px;
    padding: 1rem 0.25rem;
  }
  
  @media (min-width: 890px) {
    .notif {
      font-size: 24px;
      padding: 2rem 1rem;
      // height: 100px;
    }
  }
  
  .notif>.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }
  
  .slide-down {
    margin-top: 0 !important;
    transition: margin-top 0.7s ease-in-out;
  }
  
  .item1 {
    background: rgb(26,93,108);
    background: -moz-linear-gradient(180deg, rgba(26,93,108,1) 17%, rgba(255,154,0,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(26,93,108,1) 17%, rgba(255,154,0,1) 100%);
    background: linear-gradient(180deg, rgba(26,93,108,1) 17%, rgba(255,154,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1a5d6c",endColorstr="#ff9a00",GradientType=1);
  }
  
  .item2 {
    background: #1a5d6c;
    border-bottom: 2px solid white;
    a{
      color: rgba(255,154,0,1);
    }
  }
  
  .item2 strong {
    color: #fff;
  }